body {
  background-color: rgba(0, 100, 200, 0.1);
}
.blogs-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  margin: 50px auto;
}
.blog {
  margin: 10px 10px;
  width: 40%;
  flex-grow: 2;
  padding: 10px 10px;
  background-color: white;
  border-radius: 10px 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  list-style: none;
}

/* Loading */
